.formBody{
    height: 50rem;
    width: 31.5rem;

}

form{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2.5rem;

}

.picFrame{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    width: 26.5rem;
    height: 18rem;
    border: 0 solid;
    border-radius: 16px;
}

.picFrame:hover{
    cursor: pointer;
}

.uploadText{
    color: #1E84FC;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    line-height: 90%;
}

.inputLabel{
    color: #3E3E3E;
    font-weight: 500;
    line-height: 90%;
    display: block;
    margin-top: 1.25rem;
}

.inputFields{
    width: 26.5rem;
    height: 2rem;
    margin-top: 0.63rem;
    border-radius: 0.375rem;
    border: 1px solid #E4E4E4;
    background: #FAFAFA;
    color: #3e3e3e;
    margin-bottom: 1rem;
    font-family: inherit;
    font-size: inherit;
}

textarea{
    width: 26.5rem;
    height: 6rem;
    font-family: inherit;
    font-size: inherit;
    resize: none;
    margin-top: 0.63rem;
    border-radius: 0.375rem;
    border: 1px solid #E4E4E4;
    background: #FAFAFA;
    color: #3e3e3e;
    margin-bottom: 1rem;
}




.modalButtonsContainer{
    width: 26.5rem;
    display: flex;
    gap: 120px;
}

.modalButtons{
    margin: 4rem 0 3.5rem 0;
}

.modalButtons:hover{
    cursor: pointer;
    
}

.cancel{
    background-color: #FFF;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.10); 
    border: 2px #1E84FC solid;
    border-radius: 5px;
    color: #1E84FC;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
}

.send{
    background-color: #1E84FC;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.10); 
    border: 2px #1E84FC solid;
    border-radius: 5px;
    color: #FFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
}

.send:hover{
    background: #1B79E7;
}

