.cardListView{
    align-self: center;
    background-color: blueviolet;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: baseline;
    flex-flow: row wrap;
    justify-content: baseline;
    gap: 30px;
    position: relative;
    top: -1rem;
    padding: 2.2rem;
}